@font-face {
  font-family: "MinecraftRegular";
  src: url("./fonts/MinecraftRegular-Bmg3.otf") format("opentype");
}

@font-face {
  font-family: "MinecraftBold";
  src: url("./fonts/MinecraftBold-nMK1.otf") format("opentype");
}
@font-face {
  font-family: "ProfontWindows";
  src: url("./fonts/Profontwindows-axBMx.ttf") format("opentype");
}
:root {
  --primary-color: #43aa8b;
  --secondary-color: #ff0000;
  --primary-font: "MinecraftRegular", sans-serif;
  --bold-font: "MinecraftBold", sans-serif;
}

body {
  font-family: var(--primary-font);
  background-color: #0b0014;
  overflow: hidden;
}
h1 {
  font-size: 3.5rem;
  color: #f5e9e2;
}
h2 {
  font-size: 2.5rem;
  color: #f5e9e2;
  color: #0b0014;
}
p {
  font-family: "ProfontWindows";
  font-size: 1.5rem;
  color: #f5e9e2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--bold-font);
}

.sec {
  overflow: hidden;
  padding-bottom: 50px;
}

.a1 {
  /* display: flex;
  width: 200%; */
  animation: bannermove 20s linear infinite;
}

.a2 {
  /* display: flex;
  width: 200%; */
  animation: bannermoveLeft 20s linear infinite;
}
@keyframes bannermove {
  to {
    transform: translateY(0);
  }
  from {
    transform: translateY(-50%);
  }
}
@keyframes bannermoveLeft {
  to {
    transform: translateY(-50%);
  }
  from {
    transform: translateY(0);
  }
}
@media only screen and (max-width: 767px) {
  .sec {
    width: 250%;
  }

  .a2 {
    display: none;
  }
}

.ul {
  /* display: flex; */
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.liEx {
  width: 100%;
  margin-left: 10px;
}

.card{
    background-color: var(--primary-color);
}

.form-range::-webkit-slider-thumb {
  background: #d95d39;
}

.form-range::-moz-range-thumb {
  background: #d95d39;
}

.form-range::-ms-thumb {
  background: #d95d39;
}