@font-face {
  font-family: "MinecraftRegular";
  src: url("./fonts/MinecraftRegular-Bmg3.otf") format("opentype");
}

@font-face {
  font-family: "MinecraftBold";
  src: url("./fonts/MinecraftBold-nMK1.otf") format("opentype");
}
@font-face {
  font-family: "ProfontWindows";
  src: url("./fonts/Profontwindows-axBMx.ttf") format("opentype");
  font-weight: normal;
}
@font-face {
  font-family: "ProfontWindowsB";
  src: url("./fonts/ProfontwindowsBold-Eaq14.ttf") format("opentype");
}
:root {
  --primary-color: #2d4a60;
  --secondary-color: #ff0000;
  --primary-font: "MinecraftRegular", sans-serif;
  --secondary-font: "ProfontWindows", sans-serif;
  --bold-font: "MinecraftBold", sans-serif;
}
.progress{
  background-color: #464748;
  height: 4rem;
}
.progress-bar{
  background-color: #d95d39;
}
body {
  font-family: var(--primary-font);
  background-color: #0b0014;
}
#xmint-btn::part(button) { 
  margin-top: 1rem;
  width: 100%;
  background-color: #d95d39;
}
#xmint-btn::part(button)::after { 
  content: "BUY WITH CARD";
  font-family: var(--secondary-font);
  font-size: 1.3rem;

}
#xmint-btn::part(contentParagraph) {
  font-family: var(--primary-font);
  display: none;
}
.warning-text{
  font-size: 1rem;
  color: #f18805;
}
.custom-tooltip {
  font-family: var(--secondary-font);
}
h1 {
  font-size: 2rem;
  color: #f5e9e2;
}
label{
  font-family: var(--secondary-font);
  font-size: large;
}
h2 {
  font-size: 2.5rem;
  color: #f5e9e2;
  color: #0b0014;
}
p {
  font-family: var(--secondary-font);
  font-size: 1.2rem;
  color: #f5e9e2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--bold-font);
}
.infoBox{
  border: #0b0014 solid 2px;
  border-radius: 20px;
  padding: 0.5rem;
}
.sec {
  width: 100%;
  overflow: hidden;
  padding-bottom: 10px;
}

.a1 {
  display: flex;
  width: 200%;
  animation: bannermove 20s linear infinite;
}

.a2 {
  display: flex;
  width: 200%;
  animation: bannermoveLeft 20s linear infinite;
}
@keyframes bannermove {
  to {
    transform: translateX(0);
  }
  from {
    transform: translateX(-50%);
  }
}
@keyframes bannermoveLeft {
  to {
    transform: translateX(-50%);
  }
  from {
    transform: translateX(0);
  }
}


.ul {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.liEx {
  width: 100%;
  margin-left: 2px;
}

.card{
    background-color: #0b0014;
    border: #f18805 solid 7px;
    color: white;
    padding: 3rem;
}
.mint-button{
  font-family: "ProfontWindowsB";
  background-color: #f18805;
  font-size: 1.3rem;
}
.mint-button:hover{
  background-color: #bb6c0a;
}
.form-range::-webkit-slider-thumb {
  background: #d95d39;
}

.form-range::-moz-range-thumb {
  background: #d95d39;
}

.form-range::-ms-thumb {
  background: #d95d39;
}
.info{
  width: 1rem;
  height: 100%;
  margin: 0.5rem;
  margin-top: 0.4rem;
  padding-bottom: 0.6rem;
}
.text-progress{
  padding-top: 1.3rem;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
.modal-content {
  background-color: #464748 !important;
}
.btn-modal{
  font-family: var(--secondary-font);
}
.price-btn{
  background-color: #d95d39;
  color: white;
  padding: 1.5rem;
}
.price-btn:hover{
  background-color: #f18805;
}
.price-btn:focus{
  background-color: #f18805;
}
.price-btn:active{
  background-color: #f18805;
}
.quantity-input {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.quantity-input-field {
  width: 50px;
  text-align: center;
}

.quantity-button {
  width: 30px;
  height: 35px;
  font-size: 14px;
  font-weight: bold;
  background-color: #d95d39;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 4px;
  margin-right: 4px;

}
.quantity-button:hover{
  background-color: #f18805;
}
.disclaimer{
  font-size: 1.1rem;
}
.actived{
  background-color: #f18805;
}
@media only screen and (max-width: 767px) {
  body{
    overflow-x: hidden;
  }
  .sec {
    width: 100%;
  }
  .card{
    padding: 1rem!important;
  }
  .a2 {
    display: none;
  }
  .price-btn{
    padding: 1.1rem !important;
  }
  .quantity-button {
    width: 50px;
    height: 35px;
  }
  .disclaimer{
    font-size: 1rem;
  }
}