@font-face {
  font-family: "MinecraftRegular";
  src: url("./fonts/MinecraftRegular-Bmg3.otf") format("opentype");
}

@font-face {
  font-family: "MinecraftBold";
  src: url("./fonts/MinecraftBold-nMK1.otf") format("opentype");
}
@font-face {
  font-family: "ProfontWindows";
  src: url("./fonts/Profontwindows-axBMx.ttf") format("opentype");
}
:root {
  --primary-color: #2d4a60;
  --secondary-color: #ff0000;
  --primary-font: "MinecraftRegular", sans-serif;
  --bold-font: "MinecraftBold", sans-serif;
}
#gallery .carousel {
  max-width: 512px; /* Adjust the width as needed */
  margin: 0 auto; /* Center the carousel */
}

#gallery .carousel img {
  max-height: 512px; /* Adjust the height as needed */
  object-fit: cover; /* Resize the images while maintaining their aspect ratio */
}

body {
  font-family: var(--primary-font);
  background-color: #0b0014;
}
.navbar {
  background-color: var(--primary-color);
}
h1 {
  font-size: 3.5rem;
  color: #f5e9e2;
}
h2 {
  font-size: 2.5rem;
  color: #f5e9e2;
}
p {
  font-family: "ProfontWindows";
  font-size: 1.5rem;
  color: #f5e9e2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--bold-font);
}

.button {
  background-color: var(--secondary-color);
}
.wrapper-utils {
  color: #f5e9e2;
  display: grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: auto;
  margin-left: 90px;
  margin-right: 90px;
  margin-bottom: 90px;
  margin-top: 80px;
}
.wrapper-utils p {
  font-size: large;
}
.wrapper-utils .card {
  background-color: var(--primary-color);
  border: 2px solid #f5e9e2;
  border-radius: 20px;
  margin-top: 20px;
}
.card-image {
  border-radius: 18px;
}
.left-panel {
  position: sticky;
  top: 90px;
  margin-bottom: 90px;
  margin-bottom: 90px;
}
.left {
  grid-column-start: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
  /* height: 400px; */
}
.right {
  grid-column-start: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
.image-container {
  margin-top: 100px;
}
.modal-content {
  background-color: var(--primary-color);
  border: 2px solid #f5e9e2;
  color: #f5e9e2;
}
.modal-content p {
  font-size: medium;
}

.greeting {
  margin-top: 75px;
}

.main-image {
  width: 70%;
  height: max-content;
}
.mint-button-wrapper {
  cursor: not-allowed;
}
.mint-button {
  pointer-events: none !important;

  background-color: #f18805;
  font-size: large;
  width: 200px;
  height: 65px;
}
.mint-button:hover {
  background-color: #f9a744;
}
.mint-button-sm {
  pointer-events: none !important;
  background-color: #f18805;
}

#utility .card {
  background-color: #4169e1;
  background-color: var(--primary-color);
  border: 2px solid #f5e9e2;
  border-radius: 20px;
  margin-top: 20px;
}
#utility {
  background-color: #0b0014;
}
.retro-border {
  display: inline-block;
  padding: 5px;
  background-color: #212529;
  box-shadow: inset 0 0 0 5px #212529, inset 0 0 0 10px #fff;
  border: 5px solid #212529;
}
.my-section {
  margin: 0;
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 160px;
  padding-right: 180px;
  background-color: #d95d39;
}
.my-section-about {
  padding-top: 150px;
  padding-bottom: 100px;
  padding-right: 90px;
  padding-left: 120px;
}

.my-section-animate {
  margin: 0;
  padding-left: 160px;
  padding-right: 180px;
  padding-bottom: 130px;
  background-color: #d95d39;
}
#about {
  background-color: var(--primary-color);
  /* background-color: #204E4A; */
}
h4 {
  color: #f5e9e2;
}
.my-section-greeting {
  margin: 0;
  padding-top: 50px;
  padding-bottom: 100px;
  padding-left: 110px;
  padding-right: 80px;
  background-color: #0b0014;
  /* background-image: url(img/bg.png);
  background-repeat: repeat-x; */
}
.my-section-utility {
  margin: 0;
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 80px;
  padding-right: 80px;
}

.left-content {
  padding-top: 0px;
  padding-right: 30px;
}

.accordion-button:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}
.accordion-button {
  background-color: #0b0014;
  color: #f5e9e2;
}
.accordion-button:not(.collapsed) {
  background-color: #0b0014;
  color: #f18805;
}
.accordion-body {
  background-color: #212529;
  color: #f5e9e2;
}
.uk {
  width: 100%;
  height: max-content;
}
.container {
  width: 100%;
}
.retro-border img {
  display: block;
  width: 100%;
  height: auto;
}
#roadmap h2 {
  color: #f5e9e2;
}
#roadmap p {
  font-size: larger;
}
footer img {
  width: 40px;
}
footer h2 {
  color: #f5e9e2;
}
/* Gallery */
.sec {
  width: 100%;
  overflow: hidden;
  padding-bottom: 50px;
}

.a1 {
  display: flex;
  width: 200%;
  animation: bannermove 20s linear infinite;
}

.a2 {
  display: flex;
  width: 200%;
  animation: bannermoveLeft 20s linear infinite;
}
@keyframes bannermove {
  to {
    transform: translateX(0);
  }
  from {
    transform: translateX(-50%);
  }
}
@keyframes bannermoveLeft {
  to {
    transform: translateX(-50%);
  }
  from {
    transform: translateX(0);
  }
}
@media only screen and (max-width: 767px) {
  .sec {
    width: 250%;
  }

  .a2 {
    display: none;
  }
}

.ul {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.liEx {
  width: 100%;
  margin-left: 10px;
}
/* Timer */
#timer {
  display: flex;
  justify-content: center;
  font-family: "MinecraftRegular", sans-serif;
  font-size: 24px;
}

#timer > div {
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #f5e9e2;
  border: 2px solid #8f8f8f;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#timer > div:before {
  content: attr(data-label);
  display: block;
  font-size: 12px;
  margin-bottom: 4px;
  text-transform: uppercase;
}
.roadmap-mob {
  display: none;
}
.roadmap-des {
  display: block;
}

#animate {
  background-color: #0b0014;
}
#animate h2 {
  color: #f18805;
}
.animate-image {
  margin-right: 100px;
}
.card-footer {
  padding-left: 0;
}
/* FAQ Section */
#faq {
  background-color: var(--primary-color);
  font-family: "MinecraftRegular", sans-serif;
}

#faq #faq-title {
  font-size: 36px;
  color: #0b0014;
  margin-bottom: 30px;
}

#faq .accordion {
  max-width: 800px;
  margin: 0 auto;
}

#faq .accordion-item {
  border-bottom: 1px solid #dee2e6;
}

#faq .accordion-header {
  font-size: 20px;
  background-color: #f5e9e2;
  cursor: pointer;
}

#faq .accordion-button {
  display: block;
  width: 100%;
  text-align: left;
}

#faq .accordion-collapse {
  background-color: #ffffff;
}

#faq .accordion-body {
  font-size: 16px;
}
#utility p {
  font-size: 1.1rem;
}
#utility h5 {
  color: #f5e9e2;
}
#utility h2 {
  color: #f5e9e2;
}
#utility .card-img-top {
  width: 45%;
  border-radius: 20px;
}
#team {
  background-color: var(--primary-color);
  overflow-x: hidden;
}
#team .card {
  background-color: #0b0014;
  color: #f5e9e2;
  border: 2px solid #f5e9e2;
}
#team p {
  font-size: 1.2rem;
  color: #0b0014;
  color: #f5e9e2;
}
#team h4 {
  color: #f18805;
}
#roadmap {
  background-color: #0b0014;
}
#roadmap .card {
  background-color: #f5e9e2;
  background-color: #f18805;
  color: #0b0014;
}
.welcome {
  font-family: "ProfontWindows";
  color: #f18805;
}
.greeting h1 {
  color: #9cc2e8;
}
.outer {
  width: 100%;
}
#about p {
  color: #f5e9e2;
}
@media only screen and (max-width: 1130px) {
  .wrapper-utils {
    margin-left: 0;
    margin-right: 0px;
    padding-right: 20px;
  }
  .left-panel {
    margin-left: 30px;
  }
  .image-container {
    margin-top: 30px;
  }
  .outer {
    width: 100%;
  }
  img {
    width: 100%;
    height: auto;
  }
  .my-section {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
  }
  .my-section-about {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
  }
  .left-content {
    padding-right: 10px;
  }
  .my-section-greeting {
    display: flex;
    justify-content: center !important;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .my-section-greeting .row {
    display: flex;
    justify-content: center;
  }
  .greeting p {
    font-size: 1.2rem;
  }

  .greeting h3 {
    font-size: 1.2rem;
  }
  .my-section-animate {
    padding-left: 10px;
    padding-right: 10px;
  }
  #animate {
    overflow-x: hidden;
  }
  #animate h2 {
    font-size: large;
  }
  #animate p {
    font-size: medium;
  }
  .animate-image {
    margin-right: 30px;
  }
  #about p {
    font-size: large;
  }
  .my-section-utility {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }
  section {
    width: 100%;
    padding: 0;
  }
  .sec {
    display: none;
  }
  h1 {
    font-size: 2rem;
  }
  #timer {
    /* display: grid !important; */
    justify-content: center !important;
    font-size: medium;
  }
  #timer > div {
    margin-right: 10px;
    padding: 3px;
    background-color: #f5e9e2;
  }
  .main-image {
    width: 90%;
    height: auto;
  }
  .mint-button-mobile {
    margin-top: 20px !important;
    justify-content: center;
  }
  .mint-button {
    padding-left: 50px;
    padding-right: 50px;
    width: 80%;
    height: fit-content;
  }
  .roadmap-mob {
    display: block;
  }
  .roadmap-des {
    display: none;
  }
  #team .card {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 412px) {
  .left-panel {
    margin-left: 17px;
  }
  .wrapper-utils p {
    font-size: medium;
  }
}

